form {
  border: 3px solid #f1f1f1;
}
body{background-color: rgb(168, 169, 179);
width: 100%;
height: 200%;
display: flex;
align-items: center;
justify-content: center;
}

/* Imput De contraseña */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid rgb(70, 171, 12);
  box-sizing: border-box;
}

/* Estilo de los botones  */
button {
  background-color: #0dac2d;
  color: rgb(233, 233, 233);
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* nivel de opacidad en el boton */
button:hover {
  opacity: 0.8;
}

/* Estilo del boton cancelar "Rojo" */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f11404;
}

/* Centro de la imagen en container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar del formulario de login */
img.avatar {
  width: 5%;
  border-radius: 50%;
}

/* Relleno para los containers */
.container {
  padding: 16px;
}

/* texto de "olvidaste la contraseña" */
span.psw {
  float: right;
  padding-top: 16px;
}

/* cambio de stilos para el span */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
