body{
    display: flex;
    justify-content: center;
    background-color: #140e0a;
}

.header{
    display: flex;
    flex-direction: row-reverse;
    padding-left: 12px;
    padding-right: 12px;
}

.redes>img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.redes, .logo{
   display: flex;
   padding-top: 40px;
}

.contenedor{
    width: 100%;
}

.contenido{
    display: flex;    
    flex-direction: column;
    align-items: center;
    background-color: #1b130f;
    color: #3d3d3d;
    font-family: sans-serif;
}

.contenido>img{
    width: 200px;
    height: auto;
}

.contenido>p{
    color: #000000;
    text-align: center;
}

.button{
    background-color: #242982;
    border: 0px;
    padding: 10px;
    margin: 20px;
    box-shadow: 2px 5px #3d3d3d;
}


@media(min-width: 768px){
    .redes{
        display: flex;
        justify-content: flex-end;
        padding-right: 30px;
    }

    .logo{
        display: flex;
        justify-content: flex-start;
        padding-left: 40px;
    }

    .contenedor{
        width: 70%;
        background-color: #3d3737;
    }

}
